body{
    font-family: sans-serif;
    background: linear-gradient( rgba(0,200,200,0.7), rgba(0,0,255,0.5)), url(dev_bg.jpg);
    color: white;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 100);
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    opacity: 0.9;
}

h4{
    font-size: large;
}

div{
    margin: 15px;
}

label{
    font-size: larger;
    display: flex;
}

input[type=text], input[type=email], input[type=number], select{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 12px;
    border-radius: 3px;
    border: none;
    margin: 5px auto;
    font-size: large;
}

input[type="radio"], input[type="checkbox"]{
    display: inline-flex;
    box-sizing: content-box;
    margin-bottom: 15px;
}

button[type=submit]{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 12px;
    background-color: rgb(255, 200, 150);
    border: none;
    border-radius: 3px;
    font-size: larger;
    cursor: pointer;
}

button :hover{
    background-color: rgb(255, 150, 100);
}

textarea{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 12px 12px;
    font-size: larger;
}

#title{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
}

#description{
    text-align: center;
    font-size: larger;
}